@model IEnumerable<Practical2_INF272.Models.GroupModel>
@{
    ViewBag.Title = "GroupPeople";
}

<h2>GroupPeople</h2>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor( model => model.studentNumber) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstName) 
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName) 
        </th>
        <th>
            @Html.DisplayNameFor(model=> model.EmailAddress)  
        </th>
        @*<th>
            @Html.DisplayNameFor(model => model.Link) 
        </th>*@
    </tr>
    @foreach(var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.studentNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName) 
                    </td>
                    <td>
                        @Html.DisplayFor(model=> item.LastName) 
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmailAddress) 
                    </td>
                    <td>
                        <button onclick="window.location.href='@Url.Content(item.Link)'" style="background-color:lightblue;">Link</button> 
                    </td>

                </tr>
            }
</table>

